.board{
    position: absolute;
    top:70px;
    width:340px;
    left:0;
    box-shadow: 0 4px 4px 0 #00000040;
    border-radius:0 20px 20px 20px;
    overflow: hidden;
    transition: 0.3s ease-out;
    font-family: 'Poppins' ,sans-serif;
}
.j-Top{
    background-color: black;
    padding:15px 18px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.j-Top i{
    color:black;
    background-color: white;
    padding:6px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
}
.j-Bottom{
    background-color: white;
    height:500px;
    padding:20px 10px 10px 40px;
    position: relative;
}
.j-Bottom ul{
    font-size: 14px;
    margin-bottom: 20px;
}
.j-Bottom li:not(.list-title){
    padding-left: 10px;
}
.j-Bottom .list-title{
    font-weight: bold;
    margin-bottom: 16px;
}
.j-Bottom-list-count{
   padding:12px 15px;
   border:3px solid #3683f0;
   border-radius:11px;
   color:#3683f0;
   position: absolute;
   right:40px;
   top:30px;
   font-size: 20px;
   font-weight: bold;
}