.sub-thread{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: rgb(232, 230, 230);
    overflow: hidden;
    box-shadow: 0 2px 2px 2px #88888840;
}
.sub-thread span{
    padding:10px 15px;
}
.sub-thread textarea{
    resize: none;
    height:80px;
    width:100%;
    border: none;
    border-radius: 15px;
    padding:14px;
    font-family: inherit;
}
.sub-thread textarea:focus{
    outline: none;
}