.notice{
    position: absolute;
    top:90px;
    right:-180px;
    width:300px;
    font-family: 'Poppins' , sans-serif;
    box-shadow: 0 5px 6px -5px grey,
    0 -5px 6px -5px grey;
    border-radius: 15px;
    overflow: hidden;
}
.notice h5{
    background-color: black;
    color:white;
    font-weight: 400;
    padding:12px;
    letter-spacing: 4px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}